
bin/Debug/KindOfMagic_v3.exe
bin/Debug/openal32.dll
bin/Debug/sfml-audio-2.dll
bin/Debug/sfml-audio-d-2.dll
bin/Debug/sfml-graphics-2.dll
bin/Debug/sfml-graphics-d-2.dll
bin/Debug/sfml-network-2.dll
bin/Debug/sfml-network-d-2.dll
*.dll
KindOfMagic_v3.cbp
KindOfMagic_v3.depend
KindOfMagic_v3.layout
*.o
bin/Debug/Igra.exe
Igra.cbp
Igra.depend
